/* Tipografía */
@font-face {
  font-family: "nb_akademie";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2322424/regular.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "nb_akademie_medium";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2322424/medium.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}

/****************************************
*    Variables
*****************************************/
:root {
  --white: #ffffff;
  --black: #000000;
  --font-family: "nb_akademie_medium";
  --font-family-medium: "nb_akademie_medium";
}

/****************************************
*    Base - Elements
*****************************************/
html {
  height: 100%;
}

body {
  color: var(--black);
  background: var(--white);
  font-size: 100%;
  font-size: calc(16px + (20 - 16) * ((100vw - 720px) / (1400 - 720)));
  font-family: var(--font-family);
}

a {
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

a:hover,
a:active {
  opacity: 0.3;
}

a,
p,
h1,
h2 {
  font-size: 10px;
}

button {
  all: unset;
}

[active] {
  opacity: 0.3;
}

/****************************************
*    Components - Common
*****************************************/
/* Layout */
.container {
  position: relative;
  height: 100%;
  min-width: 100vw;
}
/*
.home {
  max-height: 100vh;
  overflow-x: hidden;

}*/

nav {
  z-index: 20;
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  max-width: max-content;
  margin: 0 auto;
}

.menu ~ p {
  text-align: center;
}

.main {
  margin-top: 3em;
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
}

.slider {
  position: relative;
  margin: 0 auto;
  /* padding-top: 1em;*/
  /* max-width: 90vw; */
}

/* Temporal */
.slider .imagen {
  display: none;
}

.slider .imagen.actual {
  display: block;
}

.footer {
  position: absolute;
  bottom: 20px; /* Instagram */
  left: 50%;
  transform: translate(-50%, 0);
}

/* Contacto */
[contacto] {
  background: url(../assets/images/photo.jpg) no-repeat center center fixed;
  background-size: cover;
}

.contacto {
  text-align: center;
  text-transform: uppercase;
  margin-top: 3em;
}

[contacto] .footer a {
  color: grey;
}

@media screen and (min-width: 40em) {
  [contacto] {
    background: url(../assets/images/scan.jpg) no-repeat center center fixed;
    background-size: cover;
  }
}
/****************************************
*    Info
*****************************************/
.info {
  text-align: center;
  text-transform: uppercase;
  margin: 3em auto 0;
  max-width: 80vw;
  height: 300px;
}

.info a {
  display: inline-block;
  padding-top: 1em;
}

/****************************************
*   Slider
*****************************************/
.slider {
  margin-top: 3em;
  z-index: 1;
}

.imagenes {
  position: relative;
  width: 380px;
  height: 480px;
  margin: 0 auto;
  overflow: hidden;
  transform: translatex(-4px);
}

.imagen {
  position: absolute;
  height: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  transition: all 0.6s;
  transform: translatex(-200%);
}

.imagen.next + .imagen {
  transform: translatex(200%);
}

.imagen.anterior {
  z-index: 10;
  transform: translatex(-100%);
}

.imagen.actual {
  z-index: 10;
  transform: translatex(0);
}

.anterior,
.siguiente {
  z-index: 10;
  position: absolute;
  /*  opacity: 0; */
  min-width: 190px;
  min-height: 480px;
  transform: translateY(-480px);
}

.anterior {
  left: 0;
}

.siguiente {
  right: 0;
}

.slide.siguiente {
  z-index: 10;
  transform: translatex(100%);
}

@media screen and (min-width: 40em) {
  .main {
    margin-top: 0;
  }
  .slider {
    margin: 0 auto;
  }

  .imagenes {
    width: 654px;
    height: 85vh;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    order: 2;
  }

  .imagen {
    position: absolute;
    height: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    transition: all 0.6s;
    transform: translatex(-200%);
  }

  .imagen.next + .imagen {
    transform: translatex(200%);
  }

  .imagen.anterior {
    z-index: 10;
    transform: translatex(-100%);
  }

  .imagen.actual {
    z-index: 10;
    transform: translatex(0);
  }

  .slide.siguiente {
    z-index: 10;
    transform: translatex(100%);
  }
}
/****************************************
*    Fixes
*****************************************/
button.anterior {
  transform: translate(-4vw, 1vh);
  height: 50vh;
  min-width: calc(100vw / 2);
  top: 0;
}

button.siguiente {
  transform: translate(12vw, 1vh);
  height: 50vh;
  min-width: calc(100vw / 2);
  top: 0;
  border: none;
}

/*
@media screen and (min-width: 40em) {
  button.anterior {
    transform: translate(-27.25vw, 1vh);
    height: 90vh;
    min-width: calc(100vw / 2);
    top: 0;
  }

  button.siguiente {
    transform: translate(27.25vw, 1vh);
    height: 90vh;
    min-width: calc(100vw / 2);
    top: 0;
    border: none;
  }
}*/

@media screen and (min-width: 40em) {
  button.anterior {
    transform: translate(-30.25vw, 1vh);
    height: 80vh;
    min-width: 80vw;
    top: 0;
  }

  button.siguiente {
    transform: translate(0, 1vh);
    height: 80vh;
    min-width: 80vw;
    top: 0;
    border: none;
  }
}

.image-contain {
  height: 100%;
  object-fit: contain;
  object-position: center;
}
